#click-me{
    padding: 20px;
    display: block;
    width: 205px;
    background: #ff0000;
    border: black solid 2px;
    text-align: center;
}
#picFrame{
    background-color: #ff0000;
    padding: 20px;
    width: 205px;
    display: none;
    border: black solid 2px;
}